<link rel="stylesheet" type="text/css" href="/assets/demo1/component1.css" />
    <div class="container">
    	<h1>Hover 效果</h1>	
      <ul class="grid cs-style-1 float-lt">
				<li>
					<figure>
						<img src="../images/1.png" alt="img01">
						<figcaption>
							<h3>photo</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
      <ul class="grid cs-style-2 float-rt">
				<li>
					<figure>
						<img src="../images/2.png" alt="img02">
						<figcaption>
							<h3>Photo</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<ul class="grid cs-style-3 float-lt">
				<li>
					<figure>
						<img src="../images/3.png" alt="img03">
						<figcaption>
							<h3>Phone</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<ul class="grid cs-style-4 float-rt">
				<li>
					<figure>
						<img src="../images/4.png" alt="img04">
						<figcaption>
							<h3>Setting</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<ul class="grid cs-style-5 float-lt">
				<li>
					<figure>
						<img src="../images/5.png" alt="img05">
						<figcaption>
							<h3>Map</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			<ul class="grid cs-style-7 float-rt">
				<li>
					<figure>
						<img src="../images/6.png" alt="img06">
						<figcaption>
							<h3>Game</h3>
							<span>Jacob Cummings</span>
							<a href="http://dribbble.com/shots/1115960-Music">Take a look</a>
						</figcaption>
					</figure>
				</li>
			</ul>
			
		</div><!-- /container -->
<script src="/assets/demo1/toucheffects.js"></script>