<script src="/assets/jquery.js"></script>
<script src="/assets/jcarousellite_1.0.1.min.js"></script>
  <div id="container" class="mycenter">
    <ul id="indexAdList">
      <li>
      	<i class="fa fa-heart-o"></i>
      </li>
      <li>
      	<i class="fa fa-heart-o fa-2x"></i>
      </li>
      <li>
      	<i class="fa fa-heart-o fa-3x"></i>
      </li>
      <li>
      	<i class="fa fa-heart-o fa-4x"></i>
      </li>
      <li>
      	<i class="fa fa-heart-o fa-5x"></i>
      </li>
    
    </ul>
    <span class="top-prev"><i class="fa fa-2x fa-backward"></i></span>
    <span class="top-next"><i class="fa fa-2x fa-forward"></i></span>
  </div>
<script type="text/javascript">
  $(document).ready(function() {
  $("#container").jCarouselLite({　　
    btnNext: ".top-next",
    btnPrev: ".top-prev",
    scroll: 1,
    visible: 1,
    auto: 500,
    speed: 500, 
    vertical: false
    });
 
  });
</script>

<link rel="stylesheet" type="text/css" href="/assets/demo3/demo3.css">

<div class="icon-list">
         <i class="fa fa-adjust"></i> fa-adjust 
    
       <i class="fa fa-anchor"></i> fa-anchor 
    
       <i class="fa fa-archive"></i> fa-archive 
    
       <i class="fa fa-arrows"></i> fa-arrows 
    
       <i class="fa fa-arrows-h"></i> fa-arrows-h 
    
       <i class="fa fa-arrows-v"></i> fa-arrows-v 
    
       <i class="fa fa-asterisk"></i> fa-asterisk 
    
       <i class="fa fa-automobile"></i> fa-automobile <span class="text-muted">(alias)</span> 
    
       <i class="fa fa-ban"></i> fa-ban 
    
       <i class="fa fa-bank"></i> fa-bank <span class="text-muted">(alias)</span> 
    
       <i class="fa fa-bar-chart-o"></i> fa-bar-chart-o 
    
       <i class="fa fa-barcode"></i> fa-barcode 
    
    <i class="fa fa-bars"></i> fa-bars 
    
    <i class="fa fa-beer"></i> fa-beer 
    
    <i class="fa fa-bell"></i> fa-bell 
    
      <i class="fa fa-bell-o"></i> fa-bell-o 
    
    <i class="fa fa-bolt"></i> fa-bolt 
    
 <i class="fa fa-bomb"></i> fa-bomb 
    
 <i class="fa fa-book"></i> fa-book 
    
     <i class="fa fa-bookmark"></i> fa-bookmark 
    
       <i class="fa fa-bookmark-o"></i> fa-bookmark-o 
    
      <i class="fa fa-briefcase"></i> fa-briefcase 
    
<i class="fa fa-bug"></i> fa-bug 
    
     <i class="fa fa-building"></i> fa-building 
    
       <i class="fa fa-building-o"></i> fa-building-o 
    
     <i class="fa fa-bullhorn"></i> fa-bullhorn 
    
     <i class="fa fa-bullseye"></i> fa-bullseye 
    
 <i class="fa fa-cab"></i> fa-cab <span class="text-muted">(alias)</span> 
    
     <i class="fa fa-calendar"></i> fa-calendar 
    
       <i class="fa fa-calendar-o"></i> fa-calendar-o 
    
       <i class="fa fa-camera"></i> fa-camera 
    
      <i class="fa fa-camera-retro"></i> fa-camera-retro 
    
      <i class="fa fa-car"></i> fa-car 
    
       <i class="fa fa-caret-square-o-down"></i> fa-caret-square-o-down 
    
       <i class="fa fa-caret-square-o-left"></i> fa-caret-square-o-left 
    
       <i class="fa fa-caret-square-o-right"></i> fa-caret-square-o-right 
    
       <i class="fa fa-caret-square-o-up"></i> fa-caret-square-o-up 
    
      <i class="fa fa-certificate"></i> fa-certificate 
    
     <i class="fa fa-check"></i> fa-check 
    
      <i class="fa fa-check-circle"></i> fa-check-circle 
    
      <i class="fa fa-check-circle-o"></i> fa-check-circle-o 
    
      <i class="fa fa-check-square"></i> fa-check-square 
    
       <i class="fa fa-check-square-o"></i> fa-check-square-o 
    
       <i class="fa fa-child"></i> fa-child 
    
       <i class="fa fa-circle"></i> fa-circle 
    
       <i class="fa fa-circle-o"></i> fa-circle-o 
    
      <i class="fa fa-circle-o-notch"></i> fa-circle-o-notch 
    
       <i class="fa fa-circle-thin"></i> fa-circle-thin 
    
       <i class="fa fa-clock-o"></i> fa-clock-o 
    
       <i class="fa fa-cloud"></i> fa-cloud 
    
       <i class="fa fa-cloud-download"></i> fa-cloud-download 
    
       <i class="fa fa-cloud-upload"></i> fa-cloud-upload 
    
      <i class="fa fa-code"></i> fa-code 
    
       <i class="fa fa-code-fork"></i> fa-code-fork 
    
       <i class="fa fa-coffee"></i> fa-coffee 
    
      <i class="fa fa-cog"></i> fa-cog 
    
       <i class="fa fa-cogs"></i> fa-cogs 
    
      <i class="fa fa-comment"></i> fa-comment 
    
      <i class="fa fa-comment-o"></i> fa-comment-o 
    
      <i class="fa fa-comments"></i> fa-comments 
    
       <i class="fa fa-comments-o"></i> fa-comments-o 
    
       <i class="fa fa-compass"></i> fa-compass 
    
       <i class="fa fa-credit-card"></i> fa-credit-card 
    
       <i class="fa fa-crop"></i> fa-crop 
    
       <i class="fa fa-crosshairs"></i> fa-crosshairs 
    
      <i class="fa fa-cube"></i> fa-cube 
    
       <i class="fa fa-cubes"></i> fa-cubes 
    
       <i class="fa fa-cutlery"></i> fa-cutlery 
    
       <i class="fa fa-dashboard"></i> fa-dashboard <span class="text-muted">(alias)</span> 
    
       <i class="fa fa-database"></i> fa-database 
    
       <i class="fa fa-desktop"></i> fa-desktop 
    
       <i class="fa fa-dot-circle-o"></i> fa-dot-circle-o 
    
       <i class="fa fa-download"></i> fa-download 
    
       <i class="fa fa-edit"></i> fa-edit <span class="text-muted">(alias)</span> 
    
       <i class="fa fa-ellipsis-h"></i> fa-ellipsis-h 
    
       <i class="fa fa-ellipsis-v"></i> fa-ellipsis-v 
    
  <i class="fa fa-envelope"></i> fa-envelope 
    
    <i class="fa fa-envelope-o"></i> fa-envelope-o 
    
       <i class="fa fa-envelope-square"></i> fa-envelope-square 
    
<i class="fa fa-eraser"></i> fa-eraser 
    
  <i class="fa fa-exchange"></i> fa-exchange 
    
     <i class="fa fa-exclamation"></i> fa-exclamation 
    
      <i class="fa fa-exclamation-circle"></i> fa-exclamation-circle 
    
<i class="fa fa-exclamation-triangle"></i> fa-exclamation-triangle 
    
<i class="fa fa-external-link"></i> fa-external-link 
    
<i class="fa fa-external-link-square"></i> fa-external-link-square 
    
<i class="fa fa-eye"></i> fa-eye 
    
<i class="fa fa-eye-slash"></i> fa-eye-slash 
    
<i class="fa fa-fax"></i>
</div>

<a href="http://fontawesome.io/">fontawesome官网</a>