<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Mydemo</title>
  <link rel="stylesheet" type="text/css" href="/assets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/assets/mystyle.css" />
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css" />
  <script src="/assets/modernizr-2.6.2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="my-hearts">
    <i class="fa fa-heart-o fa-3x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
    <i class="fa fa-heart-o fa-3x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
    <i class="fa fa-heart-o fa-3x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
    <i class="fa fa-heart-o fa-3x"></i>
    <i class="fa fa-heart-o fa-5x"></i>
    <i class="fa fa-heart-o fa-3x"></i>
  </div>

    <%= yield %>

	<div class="component">
		<!-- Start Nav Structure -->
		<button class="cn-button" id="cn-button">+</button>
		<div class="cn-wrapper" id="cn-wrapper">
		    <ul>
		      <li><a href="/welcome/index"><span class="icon-picture">1</span></a></li>
		      <li><a href="/welcome/index2"><span class="icon-headphones">2</span></a></li>
		      <li><a href="#"><span class="icon-home">3</span></a></li>
		      <li><a href="#"><span class="icon-facetime-video">4</span></a></li>
		      <li><a href="#"><span class="icon-envelope-alt">5</span></a></li>
		    </ul>
		</div>
		<div id="cn-overlay" class="cn-overlay"></div>
		<!-- End Nav Structure -->
	</div>  
	<script src="/assets/mydemo.js" data-turbolinks-track="true"></script>
	<script src="/assets/polyfills.js"></script>
</body>
</html>
