<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>Mydemo</title>
  <link rel="stylesheet" media="all" href="/assets/application.css?body=1" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/component.css?body=1" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/demo1/component1.css?body=1" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/demos.css?body=1" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/normalize.css?body=1" data-turbolinks-track="true">
  <script src="/assets/jquery.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/jquery_ujs.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/turbolinks.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/demo1/toucheffects.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/demos.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/modernizr-2.6.2.min.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/mydemo.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/polyfills.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/welcome.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/application.js?body=1" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token">
  <meta name="csrf-token" content="J7jbtZ2GJN6b18WbsXnAP6IN2j/xmAZWrXdByqJZRnc=">
</head>
<body>

<%= yield %>
	<div class="component">
		<!-- Start Nav Structure -->
		<button class="cn-button" id="cn-button">+</button>
		<div class="cn-wrapper" id="cn-wrapper">
		    <ul>
		      <li><a href="/welcome/index"><span class="icon-picture">1</span></a></li>
		      <li><a href="/welcome/index2"><span class="icon-headphones">2</span></a></li>
		      <li><a href="#"><span class="icon-home">3</span></a></li>
		      <li><a href="#"><span class="icon-facetime-video">4</span></a></li>
		      <li><a href="#"><span class="icon-envelope-alt">5</span></a></li>
		    </ul>
		</div>
		<div id="cn-overlay" class="cn-overlay"></div>
		<!-- End Nav Structure -->
	</div>  
	<%= javascript_include_tag "mydemo" %>
	<%= javascript_include_tag "polyfills" %>
</body>
</html>
